

@{
    ViewData["Title"] = "DanhSachSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using BTH1.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TDanhMucSp>

@foreach(var item in Model){
    
}

<h1>DanhSachSanPham</h1>

<p>
    <a asp-controller="HomeAdmin" asp-action="ThemSanPham" class="create">
        <button type="button" class="btn btn-outline-danger btn-icon-text" asp-controller="HomeAdmin" asp-action="ThemSanPham">
            <i class="mdi mdi-upload btn-icon-prepend upload"></i>Create New
        </button>
    </a>
</p>
<table class="table ">
    <thead>
        <tr class=" table-danger">
            <th>
                <p>Tên sản phẩm</p>
            </th>

            <th>
                <p>Độ nổi</p>
            </th>
       
            <th>
                <p>Thời gian bảo hành</p>
            </th>

            <th>
                <p>Giá nhỏ nhất</p>
            </th>
            <th>
                <p>Giá lớn nhất</p>
            </th>
           
            <th></th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
 
    <tbody>
@foreach (var item in Model) {
            i = i + 1;
            string cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
        <tr class = "@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.DoNoi)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            
            <td>

                    <a asp-controller="HomeAdmin" asp-action="SuaSanPham" asp-route-masp="@item.MaSp" style="text-decoration: none">
                        <button type="button" class="btn-sm btn-gradient-dark ">
                            Edit
                        </button>
                    </a>

                    <button type="button" class="btn-sm btn-gradient-info" asp-action="Details" asp-route-id="@item.MaSp">Details</button>

                    <a asp-action="XoaSanPham" asp-route-masp="@item.MaSp" style="text-decoration: none">
                        <button type="button" class="btn-sm btn-gradient-danger">
                            Delete
                        </button>
                    </a>

               @* <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model,page => Url.Action("DanhSachSanPham", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
})